@import "tailwindcss";

:root {
  --background: #020204;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-general-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020204;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
